  <ul class="nav nav-fill" style="background-color: #AAA;">
    <li class="nav-item">
      <%= link_to 'Feeds', feeds_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'New Feed', new_feed_path, class: 'nav-link' %>
    </li>
    <% if signed_in? %>
      <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    <% else %>
    <li class="nav-item">
      <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
    </li>
    <% end %>
  </ul>
